<nav class="nav">
  <div class="wrap nav-inner">
    <a href="index.html" class="logo"><img src="https://pub-0ad734e16c6e4b9083861efedef42f08.r2.dev/Grid-escape%20logo.png" alt="Grid Escape logo"></a>
    <ul class="nav-links">
      <li><a href="articles.html">Articles</a></li>
      <li><a href="solar.html">Solar</a></li>
      <li><a href="articles.html#camping">Camping</a></li>
      <li><a href="articles.html#vanlife">Van Life</a></li>
      <li><a href="news.html">News</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html" class="nav-cta">Contact</a></li>
    </ul>
  </div>
</nav>
